.web-projects-icons {
    cursor: pointer;
    text-align: center;
    width: 70px;
    font-size: 15px;
    display: inline-block;
    margin-right: 20px;
}

/* .web-projects-container {
    width: 100%;
}

.web-projects-sub-container {
    margin: 0 auto;
} */
.web-projects-icons img{
    margin-bottom: 3px;
}

.web-projects-title {
    width: 70px;
    /* background-color: black; */
}